<?xml version="1.0" encoding="UTF-8"?>
  <beans xmlns="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:aop="http://www.springframework.org/schema/aop"
         xmlns:context="http://www.springframework.org/schema/context"
         xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
              http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
              http://www.springframework.org/schema/context http://www.springframework.org/schema/spring-context-2.5.xsd" >
         
         
    <aop:aspectj-autoproxy/>
         
        
            <bean id = "triangle" class = "org.mozzy.Model.Triangle">
                <property name ="name" value ="isoceles triangle" />
           </bean>
           
           <bean id = "circle" class = "org.mozzy.Model.Circle">
                <property name ="name" value ="Radi Circle" />
           </bean>
           
             <bean id = "shapeService" class = "org.mozzy.Service.ShapeService" autowire = "byName"/>
             
             <bean name ="LoggingAspect" class = "org.mozzy.aspect.LoggingAspect"/>
   </beans>